@model ScheduleAutomation.tblSession

@{
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
    ViewBag.Title = "Session Details";
}

    <div class="container">
        <div>
            <h4>@Html.DisplayFor(model => model.sessionName) Details</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.sessionCode)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.sessionCode)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.sessionName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.sessionName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.StartTime)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.StartTime)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.EndTime)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EndTime)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.tblCours.CourseCode)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.tblCours.CourseCode)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.SessionID }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>